@import "tailwindcss";
@plugin "daisyui" {
  themes: light
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ff6900;
  --color-secondary: #0d1b2a;
  --color-accent: #ff690066;
}